@model List<QLCuaHangNoiThat.Models.CartItem>

@{
    ViewBag.Title = "Thanh toan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span9">
    <div class="well well-small">
        <table class="table">
            <thead>
                <tr>
                    <td>Mã SP </td>
                    <td>Tên SP</td>
                    <td>Ảnh SP</td>
                    <td>Số Lượng</td>
                    <td>Đơn Giá</td>
                    <td>Thành Tiền</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.ID </td>
                        <td>@item.Product.Name</td>
                        <td><img src="@item.Product.Image" width="100"></td>
                        <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                        <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                        <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                        <td><a href="#" data-id="@item.Product.ID" class="btn-delete">XOA</a></td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="section group">
            <div class="col-md-6">
                @using (Html.BeginForm("PayMen", "Cart", FormMethod.Post))
                {
                    <div class="control-group">
                        <lable style="width:150px">Người Nhận</lable>:
                        <input name="ShipName" class="form-control" />
                    </div>
                    <div class="control-group">
                        <lable style="width:150px">Điện Thoại..</lable>:
                        <input name="mobie" class="form-control" />
                    </div>
                    <div class="control-group">
                        <lable style="width:150px">Địa Chỉ Kh.</lable>:
                        <input name="address" class="form-control" />
                    </div>
                    <div class="control-group">
                        <lable style="width:150px">Email  KhH. </lable>:
                        <input name="email" class="form-control" />
                    </div>
                    <button type="submit" class="btn">ĐẶT HÀNG</button>
                }
            </div>
        </div>
    </div>
</div>
