@{
    ViewBag.Title = "Home Page";

    var listNewProducts = (List<Model_Data.Framework.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Model_Data.Framework.Product>)ViewBag.ListFeatureProducts;
}

<div class="span9">

    <h4>Featured Products <small class="pull-right">200+ featured products</small></h4>

    <ul class="thumbnails">
        @foreach (var item in listFeatureProducts)
        {
            var url = "/chi-tiet/" + item.MetaTitle + " - " + item.ID;
            <li class="span3">
                <div class="thumbnail" >
                    <a style="width:260px;height:250px" href="@url"><img style="width:255px;height:245px"  src="@item.Image" alt="@item.Name" /></a>
                    <div class="caption">
                        <h5>@item.Name</h5>
                        <p>
                            @item.Discription
                        </p>

                        <h4 style="text-align:center"><a class="btn" href="@url"> <i class="icon-zoom-in"></i></a> <a class="btn" href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@(item.Price.HasValue ? item.Price.Value.ToString("N0"):"Lien He")</a></h4>
                    </div>
                </div>
            </li>
        }
    </ul>


    <h4>New Products </h4>
    <ul class="thumbnails">
        @foreach (var item in listNewProducts)
        {
            var url = "/chi-tiet/" + item.MetaTitle + " - " + item.ID;
            <li class="span3">
                <div  class="thumbnail">
                    <a style="width:260px;height:250px" href="@url"><img style="width:255px;height:245px"   src="@item.Image" alt="@item.Name" /></a>
                    <div class="caption">
                        <h5>@item.Name</h5>
                        <p>
                            @item.Discription
                        </p>

                        <h4 style="text-align:center"><a class="btn" href="@url"> <i class="icon-zoom-in"></i></a> <a class="btn" href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@(item.Price.HasValue ? item.Price.Value.ToString("N0"):"Lien He")</a></h4>
                    </div>
                </div>
            </li>
        }



    </ul>

</div>